<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @listatarea.nombre %>
</p>

<p>
  <strong>Dede:</strong>
  <%= @listatarea.dede %>
</p>

<p>
  <strong>Hasta:</strong>
  <%= @listatarea.hasta %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @listatarea.responsable %>
</p>

<p>
  <strong>Realizado:</strong>
  <%= @listatarea.realizado %>
</p>

<%= link_to 'Edit', edit_listatarea_path(@listatarea) %> |
<%= link_to 'Back', listatareas_path %>
